/* 

Urbanic Template 

http://www.templatemo.com/tm-395-urbanic

*/

body, html { overflow-x:hidden; }

body {
	background-color: #ffffff;
	font-family: open-sans;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p {
	font-family: open-sans;
	font-style: normal;
	font-weight: 600;
}

/** {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          /*border-radius: 0 !important;*/
}*/
input.icon {
    padding: 5px;
}
input.icon::-webkit-input-placeholder {
    font-family: 'FontAwesome';
}
input.icon::-moz-placeholder {
    font-family: 'FontAwesome';
}
input.icon::-ms-input-placeholder {
    font-family: 'FontAwesome';
}

.templatemo_clear {
	clear: both;
}

.height30 {
	height: 30px;
}

.templatemo-top-bar {
    min-height: 40px;
    background-color:#eeeeee;
}

.templatemo-top-menu {
	/*min-height: 75px;*/
	background-color: #d3d3d3;
	z-index: 1000;
	width: 100%;
  position: fixed;
}

.templatemo-top-menu .navbar-toggle {
    /*margin-top: 38px;*/
}

.templatemo-top-menu .navbar-brand {
	padding: 0;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

/* ------ Banner Carousel ----- */

#templatemo-carousel {
    background: url('../images/templatemo_carousel_bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom:0;
    height: 500px;
}

#templatemo-carousel .carousel-caption {
    z-index: 10;
}

#templatemo-carousel .item {
	height: 500px;
}
#templatemo-carousel .carousel-inner > .item > img {
    position: absolute;
    min-width: 100%;
    height: 500px;
    left: 0;
    top: 0;
}
.height10 {
	height: 10px;
}


@media (min-width: 768px) {
    #templatemo-carousel .carousel-caption p {
	line-height: 1.4;
	font-size: 21px;
    }

    #templatemo-carousel .carousel-caption {
        padding-bottom: 20px;
        right: 20%;
        left: 20%;
    }
}

@media (max-width: 768px) {
    #templatemo-carousel .carousel-caption {
        padding-bottom: 120px;
    }
}

@media (max-width: 1024px) {
    #templatemo-carousel {
        background: url('../images/templatemo_carousel_bg_s.jpg') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        margin-bottom:0;
        height: 500px;
    }
}

/* ------ End of Carousel ----- */

/* ------ Welcome & Slogan ------ */
.templatemo-welcome {
    border-bottom: 1px solid #cccccc;
    min-height: 230px;
}

.templatemo-slogan {
    font-family:  'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 42px;
    margin: 60px 0;
    color: #333333;
}

.banner-header {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #ffffff;
	margin-bottom: 10px;

}

.banner-subtext {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 15px;

}

.templatemo-service-shadowbtm {
	margin-top: 35px;
	-webkit-box-shadow: inset 0 -11px 20px hsla(0,0%,0%,0.48);
	box-shadow: inset 0 -11px 20px hsla(0,0%,0%,0.48);
	height: 365px;
}

.templatemo-service-shadowbtm-item {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}


.templatemo-service-shadowbtm-item p {
	font-weight: 600;
	font-size: 14px;
	color: #3D3D3D;
}

.templatemo-service-shadowbtm-item-left p {
	font-weight: 600;
	text-align: left;
	font-size: 14px;
	color: #3D3D3D;
}

.templatemo-service {
	margin-bottom: 50px;
	margin-top: 35px;
}

.templatemo-service-item {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}


.templatemo-service-item p {
	font-weight: 600;
	font-size: 14px;
	color: #3D3D3D;
}

.templatemo-service-item-left p {
	font-weight: 600;
	text-align: left;
	font-size: 14px;
	color: #3D3D3D;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 12px;
    color: #e67e22;
}


.btn-orange {
    background-color: #ff7600;
    border-bottom:2px solid #d35400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
	background-color: #d35400;
	color: #ffffff;
}

.btn-green {
    background-color:#2ecc71;
    border-bottom:2px solid #27ae60;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
	background-color: #27ae60;
	color: #ffffff;
}

.nav > li > a {
    padding: 10px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: #787878;
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #787878;
	color: #fff;
}


.nav > li > a {
    color: #929292;
}
.navbar-default {
	background-color: #D3D3D3;
	border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
	background-color: #787878;
	color: #fff;
}

.navbar {
    margin-bottom: 0px;
}

.templatemo-service-item-header {
	margin-left: -10px;
	padding-top: 16px;
	padding-right: 20px;
	padding-left: 20px;
	display: inline-block;
	text-align: center;
	padding-bottom: 16px;
	font-weight: 900;
}

.templatemo-header-orange {
    background-color:#ff7600;
    min-width: 298px;
    height: 67px;
    color: #fff; 

}

.team_hr {
    border: 1px solid #fff; 
    width: 39.5%; 
    float: left;
}

.team_hr_left {
    margin-right: 30px;
    margin-left: 15px; 
}

.team_hr_right {
    margin-left: 30px;
}

.hr_gray {
    border: 1px solid #cccccc; 
}

/* ------ Device Carousel ------ */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
/* ------ End Device Carousel ------ */

.contact-callout-body {
	background: #7ABFD0;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	padding-top: 35px;
}

.templatemo-team {
	background: #7ABFD0;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	padding-bottom: 35px;
	padding-top: 35px;
	-webkit-box-shadow: inset 0 11px 28px hsla(0,0%,0%,0.48), inset 0 -11px 28px hsla(0,0%,0%,0.48);
	box-shadow: inset 0 11px 28px hsla(0,0%,0%,0.48), inset 0 -11px 28px hsla(0,0%,0%,0.48);
}

.blue-banner {
  margin-top: 60px;
	background: #7ABFD0;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	padding-bottom: 35px;
	padding-top: 35px;
	-webkit-box-shadow: inset 0 11px 28px hsla(0,0%,0%,0.48);
	box-shadow: inset 0 11px 28px hsla(0,0%,0%,0.48);
	/*height: 500px;*/
  padding: 4% 1% 0% 1%;
}

.see-sae-action {
	background: #d3d3d3;
	font-family: 'Open Sans', sans-serif;
	color: #3D3D3D;
	padding-bottom: 35px;
	padding-top: 35px;
	padding-left: 0px;
	margin-left: -15px;
	margin-right: -15px;
	
}

.half-section-dark {
	background: #a1a1a1;
	font-family: 'Open Sans', sans-serif;
	color: #2E2E2E;
	padding-bottom: 35px;
	padding-top: 35px;
	margin-left: -15px;
	margin-right: -15px;
	height: 280px;
}

.section-blue {
	background: #7abfd0;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	padding-bottom: 35px;
	padding-top: 35px;
	margin-left: -15px;
	margin-right: -15px;
}

.member-thumb:hover .thumb-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.member-thumb {
    position: relative;
    overflow: hidden;
}

.member-thumb .thumb-overlay {
    background-color: rgba(220, 157, 102, 0.8);
    position: absolute;
    visibility: hidden;
    padding-top: 35%;
    padding-left: 25%;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}

.image-wrapper {
  position: relative;
  height: 180px;
  width: 180px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}

.image-wrapper-sm {
  position: relative;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
}

.image-wrapper-sm img {
  height: 100%;
  width: 100%;
}

.image-wrapper .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(220, 157, 102, 0.8);
  color: #fff;
  display: none;
}

.image-wrapper-sm .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(220, 157, 102, 0.8);
  color: #fff;
  display: none;
}


.image-wrapper:hover .image-overlay {
	display: block;
	height: auto;
}

.image-wrapper-sm:hover .image-overlay {
	display: block;
	height: auto;
}

.thumb-overlay a {
    float:center;
    margin-right: 5px;
}

.team-inner {
    margin-top:10px;
}

.team-inner-header {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size:16px;
}

.team-inner-subtext {
    font-weight:normal;
    font-size:12px;
}

.row_team {
	margin-left: -50px;
	margin-top: 30px;
}

.row_team li {
    list-style: none;
}

/* testimonial carousel */
#quote-carousel {
	padding-top: 35px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 35px;
	text-align: center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}

.templatemo-project-box {
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    height: 200px;
    width: 200px;
}

.templatemo-project-box:hover .project-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.project-overlay {
    background : rgba(0,0,0,.75);
    border : 2px solid #ff7600;
    visibility: hidden;
    position: absolute;
    text-align:center;
    padding-top:40px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}


.project-overlay hr {
    width : 70%;
	
}

.templatemo-project-gallery li {
    margin:15px;
}

.txt_darkgrey {
    color: #333333;
}

.txt_orange {
    color: #e67e22;
}

.txt_slogan {
    font-size:14px; 
    color:#929292;
}

.templatemo-line-header span {
    font-size: 18px; 
    float :left; 
    margin-top: 10px;
}

.team_box  div {
    text-align: center; 
    padding-top: 100px;
}

.templatemo-video {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span_blog {
    margin-bottom: 80px;
}

.blog_post {
    color: #333333; 
    padding: 10px;
}

.blog_header {
    font-weight: bold; 
    font-size: 16px; 
}

.blog_text {
    text-align: justify; 
    font-size: 14px; 
    margin-top: 20px;
}

.vid {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
}

#templatemo-contact {
	border-top: 1px solid #cccccc;
	font-size: 14px;
	padding-top: 35px;
	padding-bottom: 35px;
}

.templatemo-contact-map {
    margin-bottom: 15px;
    height: 378px;
}

.head_contact {
    padding-bottom:80px; 
    margin-bottom:0;
}

.contact_right img {
	margin-right:5px;
}

.contact_right form {
	padding-left:15px;
	padding-right:15px
}

.tweet_txt {
	border-left:2px solid #ffffff; 
	min-height:160px;
}

.twitter_user {
	color: #FFFF33; 
	font-size: 14px;
	float: right;
}

.templatemo-partners {
	border-top: 2px solid #cccccc;
}

.templatemo-partners .templatemo-partner-item {
    margin-bottom: 5px;
}

.templatemo-footer {
	border-top: 2px solid #cccccc;
	margin-top: 50px;
	background-color: #787878;
	color: #FFFFFF;
}

.footer_container {
	/*margin-top: 60px;
	margin-bottom: 20px;*/
	color: #FFFFFF;
	/*font-weight: 300;*/
}

.footer_bottom_content {
	margin: auto;
	margin-bottom: 30px;
	font-size: 14px;
	color: #FFFFFF;
}
.btn-grey
{
    background-color: #333333;
    color: #FFFFFF;
}
a:hover.btn.btn-grey
{
    background-color: #FF6600;
    color: #FFFFFF;
}
a:hover.link_hover
{
    background-color: #FF6600;
    color: #FFFFFF;
	text-decoration:none;
}
.footer_header
{
 color:#FFFFFF;
  font-size:14px;
  
}
.footer_white
{
    color:#FFFFFF;
	font-size:16px;
	font-weight:300;
	/*font-family:'Roboto',sans-serif;*/
}
.social-icon-fb {
    background: url('../images/social-icon-fb.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}
@media (min-width: 768px){
/*.custom_width .col-sm-2 { width: 19.285714285714%; }
*/}
a:hover .social-icon-fb {
    background: url('../images/social-icon-fb-over.png') no-repeat;
}

.social-icon-rss {
    background: url('../images/social-icon-rss.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-rss {
    background: url('../images/social-icon-rss-over.png') no-repeat;
}

.social-icon-twitter {
    background: url('../images/social-icon-twitter.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-twitter {
    background: url('../images/social-icon-twitter-over.png') no-repeat;
}

.social-icon-linkedin {
    background: url('../images/social-icon-linkedin.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-linkedin {
    background: url('../images/social-icon-linkedin-over.png') no-repeat;
}

.input-group {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 100%;
}

input.btn.btn-med {
	width: 40%;
	height: 35px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

ul.templatemo-project-gallery  li  a img:hover {
    border: 3px solid #ff7600;
}

.templatemo-gallery-category a {
	color:#333333; 
}

.templatemo-gallery-category a.active {
	color:#e67e22; 
	text-decoration:none;
}

.templatemo-gallery-category a:focus {
	color:#e67e22;
	text-decoration:none;	
}

.templatemo-gallery-category a:hover {
	color:#e67e22; 
	text-decoration:none;
}

.link_orange:hover {
    text-decoration:none;
}
.templatemo-project-gallery {         
    margin:0 0 0 0;
    margin-top:30px;
    margin-left: -40px;
}
.templatemo-project-gallery li {     
    list-style:none;
    margin-bottom:25px;           
}
.templatemo-project-gallery li img {
  cursor: pointer;
}

.templatemo-tweets {
    background-color: #8996a0;
    min-height:200px;
    font-family:  'Open Sans', sans-serif;
    font-size:20px;
    color:#ffffff;
    margin-top:100px;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-style: italic;
}

.btn_loadmore {
	margin-top:30px; 
	margin-bottom:80px;
}

.blog_box {
	margin-left: -12px;
}

@media (min-width:991px) and (max-width:1200px) {
    .templatemo-project-box, .project-overlay {
        height:170px;
        width:170px;
    }

    .templatemo-project-gallery {
        margin-left: -70px;
    }

    .templatemo-service-item-header {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-weight: bolder;
    }

    .templatemo-header-orange {
        min-width: 230px;
    }

    .team_box,  .team_box_over {
        height:220px;
        width:220px;
    }
	
}


@media (max-width:991px) {
    .team-inner {
        margin-top: 20px;
        margin-bottom: 20px;
    }
	
    .templatemo-btn-read-more {
        float:right;
        margin-bottom :40px; 
    }
}


@media (min-width:768px) and (max-width:990px) {
    .member-thumb .thumb-overlay {
        padding-left: 30%;
    }
    .templatemo-project-box , .project-overlay {
       height:130px;
       width:130px;
       padding-top: 0px;
    }

    .templatemo-project-gallery {
       margin-left: 10px; 
    }

    .blog_box{
       margin-right: -140px;
    }
}


@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  } 
}

@media (max-width: 768px) {
    .member-thumb .thumb-overlay {
        padding-left: 40%;
       
    }
    .templatemo-btn-read-more {
            float:right;
            margin-bottom :40px; 
      }
}

@media (max-width: 380px) {
    .member-thumb .thumb-overlay {
            padding-left: 30%;

    }
	.templatemo-service-item-header {
		font-size: 16px;
		
		padding: 23px 10px 22px;
	}
	.templatemo-header-orange {
		min-width: 0px;
	}
	
}

@media (min-width:991px) and (max-width: 1200px) {
	 .team_hr {
		width: 37%; 
	}
}

@media (min-width:683px) and (max-width: 991px) {
	 .team_hr {
		width: 33%;
	}
}

@media (min-width:585px) and (max-width: 683px) {
        .member-thumb .thumb-overlay {
            padding-left: 25%;

        }
	 .team_hr {
		width: 30%;
	}
}

@media (min-width:536px) and (max-width: 585px) {
	 .team_hr {
		width: 28%;
	}
}

@media  (min-width:410px) and  (max-width: 536px) {
	 .team_hr {
		width: 21%;
	}
}

@media  (max-width: 410px) {
	 .team_hr {
		width: 11%;
	}
}

/* ------- Features Page Timeline ------- */
.example{
	margin-bottom:20px
	}
	
.example .example-title{
	margin-bottom:20px;
	font-weight:700;
	font-size:18px;
	text-shadow:2px 2px 2px rgba(255,255,255,1)
	}
	
.example .example-title span{
	font-weight:400;
	font-size:14px;
	color:#ED5565
	}
	
.example [class*=col-]{
	margin-bottom:10px
	}
	
.example-dropdown h2+.dropdown-menu,.example-modal .modal,.example-popover .popover{
	position:static;
	display:block
	}
	
.example-dropdown h2+.dropdown-menu{
	float:none;
	width:200px
	}
	
.example-popover .popover{
	position:relative
	}

@media (max-width:960px){
	.tooltip-demo [class*=col-]{
		text-align:center
		}
		
	.tooltip-demo [class*=col-] .btn-block{
		display:inline-block;
		margin:0 auto;
		width:160px
		}
	}
	
.example-popover [class*=col-]:nth-of-type(1) .popover{
	margin-top:0
	}
	
.example-popover [class*=col-]:nth-of-type(3) .popover,.example-popover [class*=col-]:nth-of-type(4) .popover{
	margin-top:40px
	}

.example-progress [class*=col-]:last-child .progress{
	margin-bottom:10px
	}

.example-pagination .pager,.example-pagination .pagination{
	margin:0!important
	}

.example-modal .modal{
	overflow:hidden
	}

@media (min-width:768px){
	.example-modal .modal-dialog{
		width:545px;
		margin:5px
		}
	}
	
.example-typography{
	position:relative;
	padding-left:25%;
	margin-bottom:40px
	}

.example-typography .heading-note,.example-typography .text-note{
	display:block;
	width:260px;
	position:absolute;
	bottom:2px;
	left:0;
	font-size:13px;
	line-height:13px;
	color:#3d3d3d;
	font-weight:400
	}

.example-typography .text-note{
	bottom:auto;
	top:10px
	}
	
.timeline dl {
  position: relative;
  top: 0;
  padding: 20px 0;
  margin: 0;
}
.timeline dl:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 100;
  width: 2px;
  margin-left: -1px;
  content: '';
  background-color: #ccd1d9;
}
.timeline dl dt {
	position: relative;
	top: 30px;
	z-index: 200;
	width: 120px;
	padding: 3px 5px;
	margin: 0 auto 30px;
	font-weight: 500;
	color: white;
	text-align: center;
	background-color: #787878;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 15px;
	}
	
.timeline dl dd {
  position: relative;
  z-index: 200;
}
.timeline dl dd .circ {
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 200;
  width: 22px;
  height: 22px;
  margin-left: -11px;
  background-color: #ffffff;
  border: 4px solid #7abfd0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  }
  
.timeline dl dd .time {
	position: absolute;
	top: 31px;
	left: 50%;
	display: inline-block;
	width: 100px;
	padding: 10px 20px;
	color: #7abfd0;
}
.timeline dl dd .events {
	position: relative;
	width: 47%;
	padding: 10px 10px 0;
	margin-top: 31px;
	background-color: #F2F2F2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.timeline dl dd .events:before {
  position: absolute;
  top: 12px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 6px;
}
.timeline dl dd .events .events-object {
  margin-right: 10px;
}
.timeline dl dd .events .events-body {
	overflow: hidden;
	zoom: 1;
	color: #3D3D3D;
}
.timeline dl dd .events .events-body .events-heading {
	margin: 0 0 10px;
	font-size: 16px;
	font-weight: bold;
}
.timeline dl dd.pos-right .time {
  margin-left: -100px;
  text-align: right;
}
.timeline dl dd.pos-right .events {
  float: right;
}
.timeline dl dd.pos-right .events:before {
  left: -12px;
  border-color: transparent white transparent transparent;
}
.timeline dl dd.pos-left .time {
  margin-left: 0;
  text-align: left;
}
.timeline dl dd.pos-left .events {
  float: left;
}
.timeline dl dd.pos-left .events:before {
  right: -12px;
  border-color: transparent transparent transparent white;
}

@media screen and (max-width: 767px) {
  .timeline dl:before {
    left: 60px;
  }
  .timeline dl dt {
    margin: 0 0 30px;
  }
  .timeline dl dd .circ {
    left: 60px;
  }
  .timeline dl dd .time {
    left: 0;
  }
  .timeline dl dd.pos-left .time {
    padding: 10px 0;
    margin-left: 0;
    text-align: left;
  }
  .timeline dl dd.pos-left .events {
    float: right;
    width: 84%;
  }
  .timeline dl dd.pos-left .events:before {
    left: -12px;
    border-color: transparent white transparent transparent;
  }
  .timeline dl dd.pos-right .time {
    padding: 10px 0;
    margin-left: 0;
    text-align: left;
  }
  .timeline dl dd.pos-right .events {
    float: right;
    width: 84%;
  }
}
	
.pull-left{float:left!important}
	
.pull-left{float:left!important}
	
.img-rounded{border-radius:6px}

@media print{
	*,:after,:before{
		color:#000!important;
		text-shadow:none!important;
		background:transparent!important;
		-webkit-box-shadow:none!important;
		box-shadow:none!important
		}
	}

dl{
	margin-top:0;
	margin-bottom:20px
	}
	
dd,dt{line-height:1.42857143}
	
dt{font-weight:700}
	
dd{margin-left:0}
	
@media (min-width:768px){
	.dl-horizontal dt{
		float:left;
		width:160px;
		overflow:hidden;
		clear:left;
		text-align:right;
		text-overflow:ellipsis;
		white-space:nowrap
		}
		
	.dl-horizontal dd{margin-left:180px}
	}

.documents{margin-top:40px}

/* ------- About Banner ------- */
.wide {
	background: url('../images/about-banner-gray.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
	margin-bottom: 0;
	height: 400px;
  
}


/*Bhargav added below CSS*/
.templatemo-testimonials{
  min-height: 400px;
  padding: 5% 5% 0 5%;
  background: #d3d3d3;
}

/* timeline carousel */
#timeline-carousel {
	padding-top: 35px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 35px;
	text-align: left;
	height: 180px;
}

/* Karthick added below CSS*/
@media (max-width:768px){
  .bio_hide {
    display:none;
    }
    .mobile
    {
      width:70px;
    }
 }
@media (max-width:414px){
    
 .Mobile_iconRemove
  { 
    display:none;
  }
}


@media (min-width: 768px){
.custom_width .col-sm-2 { width: 19.285714285714%; }
 
}

